strategy = ( 
  {
    unique_name = "btc";
    pairs = ("OKEX@ETH-USDT-SWAP", "OKEX@ETH-USDT-this_week");
    max_position = 1;
    max_round = 10000;
    range_width = 1.0;
    train_samples = 12000;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 360000000;
    stop_loss_margin = 10.0;
    max_loss_times = 2;
    split_num = 6;
    no_close_today = false;
  }
  );
order_file = "order.dat";
exchange_file = "exchange.dat";
strat_file = "mid.dat";
