strategy = ( 
  {
    unique_name = "btc";
    paris = ("OKEX/ETH-USD-SWAP", "OKEX/ETH-USD-this_week");
    max_position = 1;
    max_round = 4000;
    range_width = 2.0;
    train_samples = 1200;
    min_range = 4.0;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 360000000;
    stop_loss_margin = 10.0;
    max_loss_times = 2;
    split_num = 6;
    no_close_today = true;
  }
  );
order_file = "order.dat";
exchange_file = "exchange.dat";
strat_file = "mid.dat";
