sc =  {
  ticker = "sc";
  exchange = "";
  info = "";
  deposit_rate = 0.05;
  contract_size = 1000;
  min_price_move = 0.1;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  };

a =  {
  ticker = "a";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 2.0;
  close_today_fee = 0.0;
  close_fee = 2.0;
  };

b = {
  ticker = "b";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 2.0;
  close_today_fee = 2.0;
  close_fee = 2.0;
  };

bb = {
  ticker = "bb";
  info = "";
  deposit_rate = 0.2;
  contract_size = 500;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.00005;
  close_fee_rate = 0.0001;
  };

c = {
  ticker = "c";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 1.2;
  close_today_fee = 0.0;
  close_fee = 1.2;
  };

cs = {
  ticker = "cs";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  };

eg = {
  ticker = "eg";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 6.0;
  close_today_fee= 3.0;
  close_fee= 6.0;
  };

fb = {
  ticker = "fb";
  info = "";
  deposit_rate = 0.2;
  contract_size = 500;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.00005;
  close_fee_rate = 0.0001;
  };

i = {
  ticker = "i";
  info = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  };

j = {
  ticker = "j";
  info = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  };

jd = {
  ticker = "jd";
  info = "";
  deposit_rate = 0.08;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0002;
  close_today_fee_rate = 0.0002;
  close_fee_rate = 0.0002;
  };

jm = {
  ticker = "jm";
  info = "";
  deposit_rate = 0.05;
  contract_size = 60;
  min_price_move = 0.5;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00006;
  close_today_fee_rate = 0.00003;
  close_fee_rate = 0.00006;
  };

l = {
  ticker = "l";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 0.0;
  close_fee= 2.0;
  };

m = {
  ticker = "m";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  };

p = {
  ticker = "p";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  };

pp = {
  ticker = "pp";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.000025;
  close_fee_rate = 0.00005;
  };

v = {
  ticker = "v";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 0.0;
  close_fee= 2.0;
  };

y = {
  ticker = "y";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  };

ag = {
  ticker = "ag";
  info = "";
  deposit_rate = 0.08;
  contract_size = 15;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  };

al = {
  ticker = "al";
  info = "";
  deposit_rate = 0.1;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

au = {
  ticker = "au";
  info = "";
  deposit_rate = 0.08;
  contract_size = 1000;
  min_price_move = 0.05;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 10.0;
  close_today_fee= 0.0;
  close_fee= 10.0;
  };

bu = {
  ticker = "bu";
  info = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  };

cu = {
  ticker = "cu";
  info = "";
  deposit_rate = 0.09;
  contract_size = 5;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00005;
  };

fu = {
  ticker = "fu";
  info = "";
  deposit_rate = 0.2;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00002;
  close_today_fee_rate = 0.00002;
  close_fee_rate = 0.00002;
  };

hc = {
  ticker = "hc";
  info = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  };

ni = {
  ticker = "ni";
  info = "";
  deposit_rate = 0.1;
  contract_size = 1;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 3.5;
  close_today_fee= 3.5;
  close_fee= 3.5;
  };

pb = {
  ticker = "pb";
  info = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00004;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00004;
  };

rb = {
  ticker = "rb";
  info = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.0001;
  close_today_fee_rate = 0.0001;
  close_fee_rate = 0.0001;
  };

ru = {
  ticker = "ru";
  info = "";
  deposit_rate = 0.1;
  contract_size = 10;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000045;
  close_today_fee_rate = 0.000045;
  close_fee_rate = 0.000045;
  };

sn = {
  ticker = "sn";
  info = "";
  deposit_rate = 0.09;
  contract_size = 1;
  min_price_move = 10.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 0.0;
  close_fee= 2.0;
  };

sp = {
  ticker = "sp";
  info = "";
  deposit_rate = 0.0;
  contract_size = 10;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00005;
  close_today_fee_rate = 0.0;
  close_fee_rate = 0.00005;
  };

wr = {
  ticker = "wr";
  info = "";
  deposit_rate = 0.2;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.00004;
  close_today_fee_rate = 0.00004;
  close_fee_rate = 0.00004;
  };

zn = {
  ticker = "zn";
  info = "";
  deposit_rate = 0.1;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

AP = {
  ticker = "AP";
  info = "";
  deposit_rate = 0.07;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 0.5;
  close_today_fee= 0.0;
  close_fee= 0.5;
  };

CF = {
  ticker = "CF";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.3;
  close_today_fee= 0.0;
  close_fee= 4.3;
  };

CY = {
  ticker = "CY";
  info = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 5.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.0;
  close_today_fee= 4.0;
  close_fee= 4.0;
  };

FG = {
  ticker = "FG";
  info = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

JR = {
  ticker = "JR";
  info = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee = 3.0;
  close_today_fee = 3.0;
  close_fee = 3.0;
  };

LR = {
  ticker = "LR";
  info = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = true;
  open_fee = 3.0;
  close_today_fee_rate = 0.0;
  close_fee = 3.0;
  };

MA = {
  ticker = "MA";
  info = "";
  deposit_rate = 0.0;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.4;
  close_today_fee= 0.0;
  close_fee= 1.4;
  };

OI = {
  ticker = "OI";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  };

PM = {
  ticker = "PM";
  info = "";
  deposit_rate = 0.05;
  contract_size = 50;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 5.0;
  close_today_fee= 5.0;
  close_fee= 5.0;
  };

RI = {
  ticker = "RI";
  info = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 2.5;
  close_fee= 2.5;
  };

RM = {
  ticker = "RM";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 1.5;
  close_today_fee= 0.0;
  close_fee= 1.5;
  };

RS = {
  ticker = "RS";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.0;
  close_today_fee= 2.0;
  close_fee= 2.0;
  };

SF = {
  ticker = "SF";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

SM = {
  ticker = "SM";
  info = "";
  deposit_rate = 0.0;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

SR = {
  ticker = "SR";
  info = "";
  deposit_rate = 0.05;
  contract_size = 10;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

TA = {
  ticker = "TA";
  info = "";
  deposit_rate = 0.05;
  contract_size = 5;
  min_price_move = 2.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 3.0;
  close_fee= 3.0;
  };

WH = {
  ticker = "WH";
  info = "";
  deposit_rate = 0.05;
  contract_size = 20;
  min_price_move = 1.0;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 2.5;
  close_today_fee= 0.0;
  close_fee= 2.5;
  };

ZC = {
  ticker = "ZC";
  info = "";
  deposit_rate = 0.05;
  contract_size = 100;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 4.0;
  close_today_fee= 0.0;
  close_fee= 4.0;
  };

IC = {
  ticker = "IC";
  info = "";
  deposit_rate = 0.3;
  contract_size = 200;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  };

IF = {
  ticker = "IF";
  info = "";
  deposit_rate = 0.2;
  contract_size = 300;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  };

IH = {
  ticker = "IH";
  info = "";
  deposit_rate = 0.2;
  contract_size = 300;
  min_price_move = 0.2;
  cancel_limit = 500;
  is_fixed_open_fee_rate = false;
  is_fixed_close_today_fee_rate = false;
  is_fixed_close_fee_rate = false;
  open_fee_rate = 0.000023;
  close_today_fee_rate = 0.000345;
  close_fee_rate = 0.000023;
  };

T = {
  ticker = "T";
  info = "";
  deposit_rate = 0.02;
  contract_size = 10000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  };

TF = {
  ticker = "TF";
  info = "";
  deposit_rate = 0.012;
  contract_size = 10000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 3.0;
  close_fee= 3.0;
  };

TS = {
  ticker = "TS";
  info = "";
  deposit_rate = 0.005;
  contract_size = 20000;
  min_price_move = 0.01;
  cancel_limit = 500;
  is_fixed_open_fee_rate = true;
  is_fixed_close_today_fee_rate = true;
  is_fixed_close_fee_rate = true;
  open_fee= 3.0;
  close_today_fee= 0.0;
  close_fee= 3.0;
  }
