30 03 * * 2-6 /home/nick/future/rsync.sh
30 07 * * 2-6 /home/nick/future/rsync.sh

40 15 * * 1-5 /home/nick/stock/rsync.sh
40 17 * * 1-5 /home/nick/stock/rsync.sh

12 00 * * * /home/nick/coin/rsync.sh
12 04 * * * /home/nick/coin/rsync.sh
12 08 * * * /home/nick/coin/rsync.sh

12 08 * * * ~/zip.sh
30 06 * * * ~/hft/lib-hft/tools/dt/run.sh
20 00 * * * ~/zipandupdate.sh
