[submodule "lib-hft"]
	path = lib-hft
	url = git@github.com:nickhuangxinyu/lib-hft.git
[submodule "strategy"]
	path = strategy
	url = git@github.com:nickhuangxinyu/strategy.git
[submodule "deploy-hft"]
	path = deploy-hft
	url = git@github.com:nickhuangxinyu/deploy-hft.git
