fixed_path="/home/nick/future";
backtest_outputdir = "backtest_plot";
strategy = (
  {
    unique_name = "ni";
    ticker = "ni";
    max_position = 1;
    max_round = 1000;
    range_width = 1.0;
    train_samples = 1200;
    min_range = 1.0;
    split_num = 6;
    min_profit = 1.0;
    add_margin = 3.0;
    spread_threshold = 3.0;
    max_holding_sec = 3600000;
    stop_loss_margin = 300.0;
    max_loss_times = 2;
  }
  );

// start_date = "today";
// start_date = "yesterday";
test_mode = "nexttest";
start_date = "2019-11-01";
period = 10;

order_file = "order_backtest.dat";
exchange_file = "exchange_backtest.dat";
strat_file = "mid_backtest.dat";
